.container{
    min-height: 1200px;
    position: relative;
}
.row{
    perspective: 1500px;
}
.row > div{
    position: absolute;
    height: 650px;
    border: 1px solid black;
    top: 200px;
    left: 50%;
    display: flex;
    align-items: center;
}
#cover {
    font-size: 5em;
    justify-content: center;
    text-align: center;
    background-color: yellow;
    color: #f05e23;
    backface-visibility: hidden;
    z-index: 1;
    transition: transform 2s;
    transform-style: preserve-3d;
    transform-origin: left;
}
#left {
    left: 0%;
    font-size: 4.4em;
    justify-content: center;
    text-align: center;
    background-color: blue;
    color: white;
    backface-visibility: hidden;
    /* z-index: 2; */
    transition: transform 2s;
    transform-style: preserve-3d;
    transform-origin: right;
}
#right{
    /* top: 800px; */
    flex-direction: column;
    align-items: flex-start;
    font-size: 4em;
    background-color: pink;
    justify-content: flex-end;
}
.is-flipped-left{
    transform: rotateY(180deg);
    /* transition: transform 2s; */
    /* transform-origin: left; */
}
.is-flipped-cover{
    transform: rotateY(-180deg);
    /* transition: transform 2s; */
    /* transform-origin: left; */
}
span{
    color: red;
    font-weight: bold;
}
img {
    font-size: initial;
    position: absolute;
    top: 0px;
    left: 30%;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: black;
}
.button{
    background-color:black;
    white-space: nowrap;
    color: goldenrod;
    font-size: 20px;
    padding: 2px;
    position: absolute;
    left: 101.7%;
    top: 550px;
    transform: rotate(-90deg);
    transform-origin: left;
}
.button:hover{
    cursor: pointer;
}
.glyphicon-star{
    position: absolute;
    top: 0px;
    left: 6px;
    font-size: 1.8em;
}
.fa-smile{
    position: absolute;
    right: 6px;
    bottom: 0px;
    color: purple;
    font-size: 1.8em;
}
#top{
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 1.8em;
    color: blue;
}
#bottom{
    position: absolute;
    bottom: 0px;
    left: 5px;
    font-size: 1.8em;
    color: green;
}